@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// color theme
$color-container: #f1faee;
$color-font: #1d3557;
$color-textarea: #a8dadc;
$color-btn: #457b9d;


// font theme

.header--font {
  font-family: 'Corben', sans-serif;
}

