@import "./base";

body {
  height: 100vh;
}



body, header,
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
    background-color: $color-container;
}

.container {
  justify-content: space-around;
  width: 40vw;
  min-width: 316px;
  max-width: 414px;
  height: 80vh;
  background-color: $color-container;
}

.main__output {
  margin-top: 15px;
}
