* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

body,
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.container {
  justify-content: space-around;
  width: 40vw;
  min-width: 316px;
  max-width: 414px;
  height: 80vh;
  background-color: pink;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
}

textarea {
  resize: none;
}